<!DOCTYPE html>

<html lang="en">
  <head>
    <title>James Bristow</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/js/jquery.min.js">
  </head>

<!--==============================================================================-->

<body>

     <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
          
          <div class="navbar-header">
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
            <a class="navbar-brand" href="../../index.html">Home</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="tutoring.html">Tutoring</a></li>
                <li><a href="my_work.html">My Work</a></li>
                <li><a href="mobile_apps.html">Mobile Apps</a></li>
                <li class="active"><a href="about_me.html">About Me</a></li>
                <li><a href="contact_me.html">Contact Me</a></li>
              </ul>
            </div>

        </div>
      </div><!-- /container -->
    </div><!-- /navbar wrapper -->

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <hr class="featurette-divider">
  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image img-circle pull-left" src="../assets/img/my-face.jpg">
      <h2 class="featurette-heading">Hi, my name is <span class="text-muted">James</span></h2>
      <p class="lead">I'm a driven and ambitious IT graduate from Massey University looking to kick-start my career in the ICT industry. I also offer introductory-level tutoring in various facets of IT - ideal for total novices and kids.</p>
      <p class="lead">My interests in IT include software and application development (especially in C#, Python, and PHP), database development (particularly in MySQL and SQL Server), and web development (on the front-end using HTML, CSS, and JavaScript).</p>
    </div>

    <div class="featurette">
      <img class="featurette-image img-circle pull-right" src="../assets/img/visual-studio-ui.JPG">
      <h2 class="featurette-heading">My Technical <span class="text-muted">Background</span></h2>
      <p class="lead">I have roughly 3 years of IT experience in an academic environment. During this time, I was predominantly making use of Visual Studio. As such, I have a strong background in the .NET environment using C#, ASP.NET, SQL Server, and, to a lesser extent, VB.</p>
      <p class="lead">As part of my internship, I have gained 8 months of web development experience working in a business environment. During this time, I worked within a development team and made use of HTML, CSS, JavaScript (jQuery), XML, PHP (Laravel), and MySQL.Our team used Git for version control of our LAMP stack web application.</p>
      <p class="lead">In the future, I'd really love to strengthen my skills as a software architect - that's where the money is at! I'm learning to use Silverlight, as I'd like to expand outside of using PHP for web development. I'm also learning about MongoDB; while I have familiarity with relational databases (SQL Developer, SQLite, SQL Server, MySQL), I'm much weaker on non-relational databases.</p>

    </div>

    <div class="featurette">
      <img class="featurette-image img-circle pull-left" src="../assets/img/motuihe-island.jpg">
      <h2 class="featurette-heading">My Other <span class="text-muted">Interests</span></h2>
      <p class="lead">I feel very strongly about conservation. I'm a volunteer for Conservation Volunteers New Zealand, and the Motuihe Island Restoration Trust. Motuihe is a fantastic place, and I make sure to visit when I can.</p>
      <p class="lead">I enjoy beach walks along the beautiful North Shore coast, reading all about European history, playing video games when I have the time, and going for a round of table tennis. And no, this isn't a date!</p>
      <p class="lead">I plan on one day returning to university and achieving a Bachelors in Mathematics and Statistics. Hopefully, I could then continue with a Masters in Mathematics. I love to learn, and I aim to further develop my quant skills.</p>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Jump Back to top</a></p>
      <p>Email: james (dot) bristow (dot) portfolio (at) gmail (dot) com</p>
      <p> <a href="contact_me.html">Access the Contact Form</a></p>
      <p><a href="https://github.com/JBris/JBris.github.io">Source Code</a></p>
      <p>Created using Bootstrap 3 and Bootply for rapid deployment</p>
    </footer>

  </div><!-- /.container -->
</body>

</html> 

