<!DOCTYPE html>

<html lang="en">
  <head>
    <title>James Bristow</title>
    <meta charset="utf-8">
    
    <!--Internally hosted-->
    <link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-theme.min.css">
    <script src="../assets/js/app.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.min.css">
  
  </head>

<!--==============================================================================-->

<body>

    <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                     <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-left">
                      <li><a href="../../index.html">Home</a></li>
                      <li><a href="tutoring.html">Tutoring</a></li>
                      <li><a href="my_work.html">My Work</a></li>
                      <li><a href="mobile_apps.html">Mobile Apps</a></li>
                      <li><a href="about_me.html">About Me</a></li>
                      <li class="active"><a href="contact_me.html">Contact Me</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="container marketing">

      <hr class="featurette-divider">

      <div style = "text-align: center">
        <h2 class="featurette-heading">Need to <span class="text-muted">Contact Me?</span></h2>
      </div>

      <br/>
      <p class="lead" style = "text-align: center">Please provide your details in the form below, and I'll be sure to get in touch!</p>
      <p class="lead" style = "text-align: center">Alternatively, email me directly at james (dot) bristow (dot) portfolio (at) gmail (dot) com</p>
      <p class="lead" style = "text-align: center"> <a href="https://www.linkedin.com/in/james-bristow-5bb14157" target="_blank">Or message me on Linkedin</a></p>
      <hr class="featurette-divider">
      <div style = "text-align: center">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc0-t_AWCHoj6wAMkDXqJNRkVPsApJGXR2s7jOxlAkT1Vf7hA/viewform?embedded=true" width="750" height="1000" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe></div>

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Jump Back to top</a></p>
      <p>Email: james (dot) bristow (dot) portfolio (at) gmail (dot) com</p>
      <p> <a href="contact_me.html" target="_blank">Access the Contact Form</a></p>
      <p> <a href="https://github.com/JBris" target="_blank">Source Code</a></p>
      <p>Created using Bootstrap 3 and Bootply for rapid deployment</p>
    </footer>

  </div><!-- /.container -->
</body>

</html> 