<!DOCTYPE html>

<html lang="en">
  <head>
    <title>James Bristow</title>
    <meta charset="utf-8">

    <!--Externally hosted-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!--Internally hosted-->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-theme.min.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!--Custom-->
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.min.css">
    
  </head>

<!--==============================================================================-->

<body>


     <div class="navbar-wrapper">
      <div class="container" >
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
            <a class="navbar-brand" href="../../index.html">Home</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="tutoring.html">Tutoring</a></li>
                <li><a href="my_work.html">My Work</a></li>
                <li><a href="mobile_apps.html">Mobile Apps</a></li>
                <li><a href="about_me.html">About Me</a></li>
                <li class="active"><a href="contact_me.html">Contact Me</a></li>
              </ul>
            </div>

        </div>
      </div><!-- /container -->
    </div><!-- /navbar wrapper -->

    <div class="container marketing">
      <br>
      <br>
      <br>
      <br>

      <hr class="featurette-divider">

      <h2 class="featurette-heading" style = "text-align: center">Need to Contact Me?</h2>
      <br/>
      <p class="lead" style = "text-align: center">Please provide your details in the form below, and I'll be sure to get in touch!</p>
      <p class="lead" style = "text-align: center">Alternatively, email me directly at james (dot) bristow (dot) portfolio (at) gmail (dot) com</p>
      <p class="lead" style = "text-align: center"> <a href="https://www.linkedin.com/in/james-bristow-5bb14157" target="_blank">Or message me on Linkedin</a></p>
      <hr class="featurette-divider">
      <div style = "text-align: center">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc0-t_AWCHoj6wAMkDXqJNRkVPsApJGXR2s7jOxlAkT1Vf7hA/viewform?embedded=true" width="750" height="1000" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe></div>
    </div>

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Jump Back to top</a></p>
      <p>Email: james (dot) bristow (dot) portfolio (at) gmail (dot) com</p>
      <p> <a href="contact_me.html">Access the Contact Form</a></p>
      <p> <a href="https://github.com/JBris/JBris.github.io">Source Code</a></p>
      <p>Created using Bootstrap 3 and Bootply for rapid deployment</p>
    </footer>

  </div><!-- /.container -->
</body>

</html> 