<!DOCTYPE html>

<html lang="en">
  <head>
    <title>James Bristow</title>
    <meta charset="utf-8">
    
    <!--Internally hosted-->
    <link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-theme.min.css">
    <script src="../assets/js/app.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.min.css">
  
  </head>
<!--==============================================================================-->

<body>

    <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-left">
                      <li><a href="../../index.html">Home</a></li>
                      <li><a href="tutoring.html">Tutoring</a></li>
                      <li><a href="my_work.html">My Work</a></li>
                      <li class="active"><a href="mobile_apps.html">Mobile Apps</a></li>
                      <li><a href="about_me.html">About Me</a></li>
                      <li><a href="contact_me.html">Contact Me</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <!--UNDER CONSTRUCTION-->
    <div class="container marketing">


      <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image img-circle pull-left" src="../assets/img/labourers.JPEG">
        <h2 class="featurette-heading">Sorry! This Page is Under Contruction!</h2>
    </div>
    
    <br>
    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Jump Back to top</a></p>
      <p>Email: james (dot) bristow (dot) portfolio (at) gmail (dot) com</p>
      <p> <a href="contact_me.html" target="_blank">Access the Contact Form</a></p>
      <p> <a href="https://github.com/JBris/JBris.github.io" target="_blank">Source Code</a></p>
      <p>Created using Bootstrap 3 and Bootply for rapid deployment</p>
    </footer>

  </div><!-- /.container -->
</body>

</html> 