<!DOCTYPE html>

<html lang="en">
  <head>
    <title>James Bristow</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/js/jquery.min.js">
  </head>

<!--==============================================================================-->

<body>

  <body>

     <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar  navbar-inverse navbar-static-top">
          
          <div class="navbar-header">
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
            <a class="navbar-brand" href="../../index.html">Home</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="tutoring.html">Tutoring</a></li>
                <li class="active"><a href="my_work.html">My Work</a></li>
                <li><a href="mobile_apps.html">Mobile Apps</a></li>
                <li><a href="about_me.html">About Me</a></li>
                <li><a href="contact_me.html">Contact Me</a></li>
              </ul>
            </div>

        </div>
      </div><!-- /container -->
    </div><!-- /navbar wrapper -->
    <!-- Marketing messaging
    ================================================== -->

    <div class="container marketing">
    <hr class="featurette-divider">
    <hr class="featurette-divider">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-md-6 text-center">
          <img class="img-circle" src="../assets/img/facebook-img.jpg">
          <h2>Facebook-lite</h2>
          <p>A miniature version of Facebook. Developed using PHP (Laravel), JavaScript (jQeury), and CSS3 (Bootstrap). Hosted on Heroku</p>
          <p><a class="btn btn-lg btn-primary" href="#" target="_blank">View Demo</a></p>
        </div>
        <div class="col-md-6 text-center">
          <img class="img-circle" src="../assets/img/social-network.png">
          <h2>IT NZ Social Network</h2>
          <p>A social network for IT professionals in New Zealand. Developed using WordPress and BuddyPress</p>
          <p><a class="btn btn-lg btn-primary" href="#" target="_blank">View Demo</a></p>
        </div>
      </div><!-- /.row -->

    <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-6 text-center">
          <img class="img-circle" src="../assets/img/twitter-img.jpg">
          <h2>Twitter-lite</h2>
          <p>A miniature version of Twitter. Developed using Ruby on Rails, JavaScript (jQeury), and CSS3 (Bootstrap). Hosted on Heroku</p>
          <p><a class="btn btn-lg btn-primary" href="#" target="_blank">View Demo</a></p>
        </div>
        <div class="col-md-6 text-center">
          <img class="img-circle" src="../assets/img/db-view.jpg">
          <h2>Simple Sales Information System</h2>
          <p>A simple sales information system. Developed in Visual Studio using C# and Silverlight. Hosted on Heroku</p>
          <p><a class="btn btn-lg btn-primary" href="#" target="_blank">View Demo</a></p>
        </div>
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Jump Back to top</a></p>
        <p>Email: james (dot) bristow (dot) portfolio (at) gmail (dot) com</p>
        <p> <a href="contact_me.html">Access the Contact Form</a></p>
        <p> <a href="https://github.com/JBris/JBris.github.io">Source Code</a></p>
      <p>Created using Bootstrap 3 and Bootply for rapid deployment</p>
      </footer>

    </div><!-- /.container -->
</body>

</html> 