<!DOCTYPE html>

<html lang="en">
  <head>
    <title>James Bristow</title>
    <meta charset="utf-8">

    <!--Externally hosted-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!--Internally hosted-->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-theme.min.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!--Custom-->
    <link rel="stylesheet" type="text/css" href="../assets/css/custom.min.css">
    
  </head>
<!--==============================================================================-->

<body>

    <!--UNDER CONSTRUCTION-->
     <hr class="featurette-divider">
    <div class="container marketing">

    <hr class="featurette-divider">

    <div class="featurette">
      <img class="featurette-image img-circle pull-right" src="../assets/img/labourers.JPG">
      <h2 class="featurette-heading">Sorry! This Page is Under Contruction! </h2>
    </div>

    <hr class="featurette-divider">


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Jump Back to top</a></p>
      <p>Email: james (dot) bristow (dot) portfolio (at) gmail (dot) com</p>
      <p> <a href="contact_me.html">Access the Contact Form</a></p>
      <p> <a href="https://github.com/JBris/JBris.github.io">Source Code</a></p>
      <p>Created using Bootstrap 3 and Bootply for rapid deployment</p>
    </footer>

  </div><!-- /.container -->
</body>

</html> 

